/c/apps/terraform/GIT_CODEs/STACK-EC2-TF/mykey
/c/apps/terraform/GIT_CODEs/STACK-EC2-TF/mykey.pub
/c/apps/terraform/GIT_CODEs/STACK-EC2-TF/Stack-EC2-Access.pem
/c/apps/terraform/GIT_CODEs/STACK-EC2-TF/terraform.tfstate
/c/apps/terraform/GIT_CODEs/STACK-EC2-TF/terraform.tfstate.backup
/c/apps/terraform/GIT_CODEs/STACK-EC2-TF/terraform.tfvars
